$title-font: 'Arial Rounded MT Bold', Arial, sans-serif;
$body-font: Arial, sans-serif;
$text-color: #fff;
$link-blue-accessible: #6CC4CC;
$link-blue-accessible-hover: #6CC4CC;
$page-background: #004C65;