---
title: Acerca de mí 
meta_desc: 
img: /assets/electrodifusa_blanco.png
alt: logo Electrodifusa
eleventyNavigation:
  key: Acerca de mí
  order: 2
heading: Acerca de mí 
permalink: "/about/"
layout: main.njk
---

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <p>Hola, soy {{ site.author.firstName }} {{ site.author.lastName}}. Soy Ingeniera Eléctrica apasionada por la iluminación y el control (: </p>
  

  <ul class="about-socials">
    <li><a href="{{ site.socials.instagram }}">@electrodifusa</a></li>
  </ul>

  <h2 id="contact-me">Escríbeme</h2>
  <p>Si tienes una idea a la que quieres llevar luz y emociones!</p>
  
    <form class="contact-form" method="POST" action="https://formspree.io/f/xqpkvwyz">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" required>
      <label class="form-label" for="subject">Asunto</label>
      <input class="email-subject" type="text" name="subject" id="subject" required>
      <label class="form-label" for="message">Mensaje</label>
      <textarea class="email-msg" rows="5" cols="30" name="message" id="message" required></textarea>
      <button type="submit" class="reach-me button submit-contact">Enviar</button>
  </form>
</div>