---
title: Proyectos
eleventyNavigation:
  key: Proyectos
  order: 2
layout: main.njk
permalink: "/proyects/"
meta_desc: Proyectos de iluminación de electrodifusa
img: 
alt: 
cardType: summary_large_image
---

<h1 class="gallery-h1">{{ title }}</h1>

{% include "partials/feature-gallery.njk" %}