---
eleventyNavigation:
  key: Inicio
  order: 0
heading: Proyectos
description: Colección de proyectos de iluminación
layout: main.njk
title: "Electrodifusa: Luz · Espacio · Percepción"
meta_desc: Proyectos de electrodifusa
url: https://electrodifusa.com
img: 
alt: 
cardType: summary_large_image
---

<div class="page-banner">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
</div>

{% include "partials/home-gallery.njk" %}