{% set navigation = collections.all | eleventyNavigation %}
<header class="top-nav">
    <div class="intro">
        <div>
            <a class="home-button" href="/">
                <img class="home-logo" src="/assets/electrodifusa_blanco.png" alt="Electrodifusa">
            </a>
        </div>
        <a class="hire-me" href="/about/#contact-me">Escríbeme</a>
    </div>
    <nav class="nav-main">
        <ul class="nav-list">
            {% for link in navigation %}
            <li><a href="{{ link.url | url }}" class="link">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>